extends layout

block css
  link(rel='stylesheet', href='stylesheets/index.css')
  style(type='text/css', media='screen').
    .editor {
        text-align:left;
        position:absolute;
        top: 48px;
        right: 20px;
        bottom: 20px;
        left: 20px;
    }

block content
  #compiler
    #javacode
      .title-bar
        h2.title-name Java
        h2.title-button#compile Compile
        h2.title-button#options Options
      .code
        #jcode.editor.
          class Ex {
              public static void main(String args[]) {
                  System.out.println("hi");
              }
          }
        #options-div
          .option-box
            input(type='checkbox',id='private')
            | translate private modifiers as '_' variables
          .option-box
            input(type='checkbox',id='warning',checked)
            | Ignore compiler errors if possible
    #pythoncode
      .title-bar
        h2.title-name Python
        h2.title-button#export Export
      .code
        #pycode.editor.
          class Ex(object):
              @classmethod
              def main(self, args):
                  print("hi")

          if __name__ == "__main__":
              import sys
              assert len(sys.argv) > 1
              if sys.argv[1] == "Ex":
                  Ex.main(argv[2:])

block scripts
  script(src='/javascripts/jquery.js')
  script(src='/javascripts/utils.js')
  script(src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js",type="text/javascript",charset="utf-8")
  script(src='/javascripts/editors.js')
