extends layout

block css
  link(rel='stylesheet', href='stylesheets/index.css')

block content
  form#compiler
    #javacode
      .title-bar
        h2.title-name Java
        h2.title-button#compile Compile
      .code
        textarea(name='jcode')
    #pythoncode
      .title-bar
        h2.title-name Python
        h2.title-button#export Export
      .code
        textarea(name='pycode', readonly)

block scripts
  script(src='/javascripts/jquery.js')
  script(src='/javascripts/compiler.js')
