doctype 5
html
  head
    title Java to Python
    //- link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block css
  body
    #header
      #logo
        h1: a(href='/') Java to Python
      #nav-bar
        ul
          li#about: a(href='/about') About
          li#behavior: a(href='/behavior') Behavior
    #container
      block content
    block scripts
