#compiler {
    margin:20px;
    text-align:center;
}

#javacode,
#pythoncode {
    background-color:#555;
    border-radius:9px;
    color:#eee;
    height:350px;
    margin:10px 50px;
    padding:0 5px;
    position:relative;
    width:500px;
    display:inline-block;
}

.title-bar {
    border-style:none none solid none;
    border-width:2px;
    height:8%;
    padding:5px;
}

.title-name, .title-button{
    border-width:1px;
    display:inline-block;
    margin:0;
    text-align:center;
}

#javacode .title-name, #javacode .title-button {
    /*width:33%;*/
    width:49%;
}

#pythoncode .title-name, #pythoncode .title-button {
    width:49%;
}

.title-name {
    border-style:none solid none none;
}
.title-button {
    border-style:none none none solid;
    transition: background-color .2s linear;
    -webkit-transition: background-color .2s linear;
}
#compile {
    /*border-style:none solid;*/
}
.title-button:hover {
    background-color:#888;
    cursor:hand;
    cursor:pointer;
}


.code {
    height:85%;
    padding:5px;
    width:490px;
    text-align:center;
}

#options-div {
    display:none;
    text-align:left;
    position:absolute;
}

.option-box {
    margin:10px 0;
}

