@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);

body {
    margin:0;
    font: 18px "Julius Sans One", Helvetica, Arial, sans-serif;
}

#header {
    /*background-color:#a4d3ee;*/
    background-color:#333333;
    /*
    border-style:none none solid none;
    border-width:1px;
    border-color:#999999;
    */
    min-height:50px;
}

#logo {
    position:absolute;
    top:5px;
    left:20px;
}

#logo h1 {
    /*color:#111111;*/
    color:#eeeeee;
    margin:0;
}


